<template name="layout">
  <head>
    <title>Kennel Mate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <i class="navbar-brand glyphicon glyphicon-asterisk"></i>
          </div>
          <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
              <li class="{{isActiveRoute 'Index'}}">
                {{#linkTo 'Index'}}
                  Index
                {{/linkTo}}
              </li>
              <li class="{{isActiveRoute 'Admin'}}">
                {{#linkTo 'Admin'}}
                  Admin
                {{/linkTo}}
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {{> loginButtons}}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="content">
      <button id="addNotification">Test</button>
      <div class="container" style="padding-top: 15px;">
        {{> Template.dynamic template=container}}
      </div>
    </div>
    <script>
      $(document).on('click.nav','.navbar-collapse.in',function(e) {
        if( $(e.target).is('a') || $(e.target).is('button')) {
          if ($('.navbar-toggle').is(':visible')) {
            $(this).collapse('hide');
          }
        }
      });
    </script>
  </body>
</template>
